@inject SignInManager<ApplicationUser> SignInManager
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @if (SignInManager.IsSignedIn(User))
    {
        <h2>Projects</h2>
        @if (Model.Projects.Length > 0)
        {
        <table class="table">
            <caption>List of projects</caption>
            <thead>
                <tr class="m-0">
                    <th scope="col" class="w-25">Id</th>
                    <th scope="col" class="w-75">Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model.Projects)
        {
            <tr class="m-0">
                <th scope="row" class="w-25">@project.Id</th>
                <td class="w-75">@project.Description</td>
        </tr>
}
            </tbody>
        </table>
        }
        else
        {
            <div>No projects yet.</div>
        }
        <hr />
        <a asp-area="" asp-controller="Home" asp-action="CreateProject">Create project</a>
    }
    else
    {
        <h2>Not logged in. Please log in.</h2>
    }
</div>
